:root {
    font-size: 10px;
    --clr-text: black;
    --clr-table-highlight: rgba(0, 255, 234, 0.205);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html {
    color: var(--clr-text);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding: 0;
    margin: 1rem;
}

.container {
    columns: 4;
    column-gap: 2rem;
    margin: 0.5cm;
}

#windows{
    --clr-table-highlight: rgba(255, 0, 0, 0.205);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    border: 1px solid #c0c0c0;
}

td, th {
    padding: 0.3rem;
}

td:nth-of-type(1) {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--clr-table-highlight);
}

h3 {
    display: none;
}